<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>

<body>
    <h1>Hello World!</h1>
    <div>
        <p>I'm Healthy</p>
        <b><p id="isHealthy">{{ isHealthy|yesno:"True,False" }}</p></b>
        <button type="button" value="isHealthy" onclick="setState(value)">Change</button>
    </div>
    <hr>
    <div>
        <p>I'm Ready</p>
        <b><p id="isReady">{{ isReady|yesno:"True,False" }}</p></b>
        <button type="button" value="isReady" onclick="setState(value)">Change</button>
    </div>

    <script>
    function setState(property) {
        var CSRFToken = '{{ csrf_token }}';
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 201) {
                document.getElementById(property).innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", "", true);
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhttp.setRequestHeader('X-CSRFToken', CSRFToken),
        xhttp.send(property);
    }
    </script>
</body>

</html>
